# General
__pycache__/
*.py[cod]
*.log
logs/
.DS_Store
.env

# Apps - API
apps/api/node_modules/
apps/api/.env
apps/api/*.db
apps/api/*.db-journal
apps/api/prisma/*.db

# Apps - Mobile
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/pubspec.lock

# Packages - Client SDK
packages/client_sdk/.dart_tool/
packages/client_sdk/.packages
packages/client_sdk/build/
packages/client_sdk/pubspec.lock

# Tools
tools/analysis_engine/__pycache__/
tools/analysis_engine/*.log
